- if @login_url
  .sign_in_with_twitter.light
    %div
    = link_to @login_url do
      .icon
      .login 
        Sign in with Twitter

- else
  .well
    = "You are following #{pluralize(@totals[:followers], 'follower')} and have #{pluralize(@totals[:followees], 'followee')} " 
  
  %table.table.projects
    %thead
      %tr
        %td
        %th Screen Name
        %th Unfollow?
    %tbody
      = form_tag unfollow_followees_path, :html => { :class => 'form-horizontal' } do
        - @followees.each do |followee|
          %tr
            %td= image_tag followee["profile_image_url_https"]
            %td= link_to followee["name"], "http://twitter.com/#!/#{followee['screen_name']}"
            %td= check_box_tag "followees_ids[]", followee["id"]
        
        %tr
          %td
          %td
          %td= submit_tag "Unfollow checked", :class => 'btn btn-danger'
            
  #pagination
    
  :javascript
    paginate(#{(@totals[:followers] / 20.0).ceil}, #{params[:page] || 1});
    
    
